.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 20px;
  }

  .pagetitle {
    background-color: #FFC700;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  .form input {
    border-radius: 500px;
    border: 2px solid #FFC700;
    padding: 1vh;
    margin: 0.5vh;
    transition: all;
    background-color: transparent;
  }

  .form textarea {
    border-radius: 500px;
    border: 2px solid #FFC700;
    padding: 1vh;
    background-color: transparent;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    margin: 1vh;
    background-color: #FFF1BF;
  }

  .contactContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .contactDetails {
    display: flex;
    flex-direction: column;
  }

  .socialIcon {
    margin: 1vh;
  }

  .socialIcon img {
    height: 50px;
  }

  .socialMedia {
    margin: 1vh;
  }