.hero_container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero_text_container {
  position: absolute;
  background-color: #FFF1BF;
  bottom: 20px;
  right: 20px;
  padding: 10px;
}

.hero_image {
  width: 100%;
}


.categories {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px;
}

.category_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  overflow: hidden;
}

.image_container {
  position: relative;
  object-fit: cover;

  overflow: hidden;
  width: 400px;
  height: 600px;
}

.image_container img {
  object-fit: cover;
  object-position: center;
}


.product_grid {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  gap: 10px;
}

.product_image_container {
  overflow: hidden;
  object-fit: cover;
  height: 400px;
  position: relative;
}

.product_image, .tag, .addtocart {
  position: absolute;
}

.product_image {
  width: 100%;
  object-position: center;
  object-fit: scale-down;
}

.tag {
  top: 10px;
  left: 10px;
  background-color: #FFC700;
  border-radius: 500px;
  padding: 5px;
  text-transform: uppercase;
}

.addtocart {
  bottom: 10px;
  right: 10px;
}

.promotion_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #FFF1BF;
}

.promition_right {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.promotion_text {
  font-size: 5rem;
  text-transform: uppercase;
}

.promotion_link {
  align-self: flex-end;
}

.promotion_link button {
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
}

.promo_highlight {
  background-color: #FFC700;
}

.why {
  width: 800px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.why_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.why_logo {
  background-color: #FFC700;
  padding: 10px;
}

.why_details {
  /* position: absolute; */
  margin-left: -20px;
  background-color: #FFF1BF;
  padding: 10px;
}

.why_right {
  position: relative;
}























/* Default Styles */
.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
